{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}

    <!-- Main -->

    <section>
        <div class="form-container" style="padding-bottom: 20px;">
            <h2>Fill a form below and add a task to your beautiful work week!</h2>
        </div>
        <form action="{% url 'core:save_job' %}" method="POST" id="add-job-form">
            {% csrf_token %}
            <b class='form-row'>{{ form|crispy }}</b>
            <input class="CTA-button" type='submit' value="Add job!"></input>
        </form>
    </section>
    
    <!-- END Main -->


{% endblock content %}