{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timesheet</title>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel='stylesheet' href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

</head>
<body>


{% include 'navbar.html' %}



<!-- {% if messages %}
<section1>
    <div class="message-box">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
               {{ message }}
            </div>
            {% endfor %}
    </div>
</section1>
{% endif %} -->


{% block content %}
{% endblock content %}


{% block extra_body %}
{% endblock %}

{% include 'footer_scripts.html' %}


{% block extra_scripts %}
{% endblock extra_scripts %}

</body>
</html>