{% extends "base.html" %}

{% block content %}

    <!-- Main -->

    <section>
        <div class="welcome-container">
            <h2>Welcome to The Easy Timesheet!</h2>
            <br>
            <h3>Please log in or create an account to get started!</h3>
        </div>
        <div class="buttons-container">
            <button type="button" class="CTA-button">Log In</button>
            <button type="button" class="CTA-button">Create an account</button>
        </div>
    </section>

    <!-- END Main -->


{% endblock content %}